/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .flash {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid;
}

.flash.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash.alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.custom-card {
  border: 2px solid #a94442; 
  border-radius: 0.375rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a, .pagination li span {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #007bff;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination .active span {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.container {
  height: 90vh; /* 高さをビューポートの90%に設定 */
  overflow: auto; /* 内容がオーバーフローした場合にスクロール可能 */
}

h1, p {
  margin: 0; /* マージンを0に設定 */
  padding: 0; /* パディングも0に設定 */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px; /* 要素間のスペース */
}